---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

const {post} = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(post.data.pubDate).format("ll")
import {Image} from "astro:assets";
---

<BaseLayout sideBarActiveItemID="blog" title={post.data.title} description={post.data.description}
            image={post.data.heroImage ? post.data.heroImage.src : ""} ogType="article">
    <main class="md:flex md:justify-center">
        <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
            {post.data.heroImage &&
                    <Image width={750} height={422} format="webp" src={post.data.heroImage} alt={post.data.title} class="w-full mb-6"/>}
            <h1 class="title !my-2 text-4xl font-bold">{post.data.title}</h1>
            {post.data.pubDate &&
                    <time>{displayDate}</time>}
            <br/>
            {post.data.badge &&
                    <div class="badge badge-secondary my-1">{post.data.badge}</div>}
            {
                post.data.tags &&
                post.data.tags.map((tag) => (
                        <a href={`/blog/tag/${tag}`} class="badge border-current ml-2 no-underline">
                            {tag}
                        </a>
                ))
            }
            {
                post.data.updatedDate && (
                            <div>
                                {" "}
                                Last updated on
                                <time>{post.data.updatedDate}</time>
                                {" "}
                            </div>
                )
            }
            <div class="divider my-2"></div>
            <slot/>
        </article>
    </main>
</BaseLayout>
