---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

const {item} = Astro.props;

dayjs.extend(localizedFormat);
const displayDate = dayjs(item.data.updatedDate).format("ll");
import {Image} from "astro:assets";
---

<BaseLayout sideBarActiveItemID="store" title={item.data.title} description={item.data.description}
            image={item.data.heroImage ? item.data.heroImage.src : ""}>
    <main class="md:flex md:justify-center">
        <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
            {
                item.data.heroImage && (
                            <Image width={750} height={422} format="webp" src={item.data.heroImage} alt={item.data.title}
                                   class="w-full mb-6"/>
                )
            }
            <div class="">
                <h1 class="title !my-2 text-4xl font-bold">
                    {item.data.title}
                    {item.data.badge &&
                            <div class="badge badge-secondary mx-2">{item.data.badge}</div>}
                </h1>
                <div class="flex place-content-between items-center">
                    <div class="grow md:grow-0">
                        <span class="text-xl mr-1"> {item.data.pricing}</span>
                        <span class="text-md opacity-50 line-through">{item.data.oldPricing}</span>
                    </div>
                    <div>
                        {
                            item.data.custom_link && (
                                        <a class="btn btn-outline grow md:grow-0 ml-4" href={item.data.custom_link}
                                           target="_blank">
                                            {item.data.custom_link_label}
                                        </a>
                            )
                        }
                        <a class="btn btn-primary grow md:grow-0 ml-4" href={item.data.checkoutUrl} target="_blank">Buy
                            Now</a>
                    </div>
                </div>
            </div>
            <div class="divider my-2"></div>
            <slot/>
        </article>
    </main>
</BaseLayout>
